{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div>TEST TEMPLATE ASKAMA</div>

  <div class="dashboard">
    <div>et ici????????????????????????????????????????????????????????????????????</div>
    <!-- Optionnel : une sidebar ici plus tard -->
    <div id="dashboard-root"></div>
    <div>et ici aussiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</div>
    <script type="module">
      import init from "/assets/dashboard/dashboard-spa.js";
      init();
    </script>
  </div>
{% endblock %}
